.Letra_hola-2{

    font-weight: 700px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: steelblue;
    padding: 1em;
   

}

.Letra_hola {

    font-weight: 700px;
    text-align: center;
}



.container {

    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.content {

    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 80vh;
    background-color: white;

    /*shadow*/

    box-shadow: 0px 0px 1.4px;
    /*para absolute del actions*/
    position: relative;

    /*espacios*/
    padding: 1.8em;

    /*recortar los textos de mi caja con scroll*/
    overflow: hidden;
    overflow-y: scroll;
}



.actions {
position: absolute;
right: 1em;
top: 1em;


}

.close{

    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: purple;
    display: inline-block;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1.4px;

  
}

html {


    font-family: 'Quicksand', sans-serif;
}


a{
text-decoration: none;
color: #6f0079;
    
}

a:hover {

    opacity: .4;
    
}

a.icon-1:hover{
opacity: 1;
}

a.close:active{
 
    background-color: rgb(250, 31, 250);

}


.table {


    width: 100%;
    border-spacing: 0px;
}



.table td,.table th {

    padding: 1em;
    text-align: left;
}


.fa-youtube {

color: rgb(184, 183, 183);
position: relative;
left: 23px;
font-size: 15px;
}

.fa-youtube:hover {

    color: red;
    transition-duration: .3s;
transition-property: color;

}


.fa-star {

    color: rgb(255, 210, 9)
}

.destacado {

    background-color: rgb(253, 228, 249);
}
.destacado-2

{
    color: #6f0079;


}


.paragraph {

    line-height: 1.6em;
}

.title-element{

    font-weight: bold;
   color: rgb(71, 71, 71);

   /* para no ignorar el margen del responsive*/
   display: inline-block;
   
}

.fa-photo-video {

    margin: 10px
}

/*responsive*/
@media (max-width:600px) {

    .content {

        padding:1em;
    }

    td{

        display: block;
        font-weight: bold;
        width: 100%;
        position: relative;
    }
    th{
        display: none;
    }
    .fa-youtube {

        font-size: 25px;
        position: absolute;
        left: 330px;
        bottom: 80px;
    }

    td:nth-of-type(1) {

        font-size: 25px;
    }
    
   

}  

@media (min-height:550px) {
.content{
    height: 500px;
}

}