.Letra_hola{

    font-weight: 700px;

}
td {


}

.icon {  /*centrar icono*/

    text-align: center;
    
}

.container {

    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.content {

    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: white;
}



html {


    font-family: 'Quicksand', sans-serif;
}


a{
text-decoration: none;
color: #6f0079;
    
}

.table {


    width: 100%;
    border-spacing: 0px;
}



.table td,.table th {

    padding: 1em;
    text-align: left;
}


.fa-youtube {

color: rgb(161, 161, 161);

}

.destacado {

    background-color: rgb(253, 228, 249);
}